<h3>SLvC Test</h3>

<table id="slvc">
    <tr>
        <th>Company (<%=@company.name%>)</th>
        <th>Count: <%=@company.stores.count%></th>
    </tr>
    <%@compgeo.each do |key, value|%>
        <tr>
            <td><%=key.to_s%></td>
            <td><%=value%></td>
        </tr>
    <%end%>
    <tr>
        <td>Blank</td>
        <td><%=@blank%></td>
    </tr>
</table>

