<h3>SLvC Test</h3>

<table id="slvc">
    <tr>
        <th>Company (<%=@company.name%>)</th>
        <th>Count: <%=@company.stores.count%></th>
    </tr>
    <%@compgeo.each do |key, value|%>
        <%if key != :blank %>
            <tr>
                <td><%=key.to_s%></td>
                <td><%=value%></td>
            </tr>
        <%end%>
    <%end%>
    <%if @compgeo[:blank].to_i > 0%>
        <tr>
            <td>Blank</td>
            <td><%=@compgeo[:blank]%></td>
        </tr>
    <%end%>
</table>
<form method="post" action="/slvc/download">
     <input name="company" type="hidden" value="<%=@company%>"/>
     <input name="compgeo" type="hidden" value="<%=@compgeo%>"/>
    <input type="submit" value="Download" />
</form>

